<% if flash[:alert] %>
  <div class="alert fade in">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <%= flash[:alert] %>
  </div>
<% end %>


<%= form_tag do %>
<fieldset>
  <h2>Please Log In</h2>

  <div class="field">
    <%= text_field_tag :name, params[:name], placeholder: 'Name' %>
  </div>

  <div class="field">
    <%= password_field_tag :password, params[:password], placeholder: 'Password' %>
  </div>
  
  <div class="actions">
    <%= submit_tag "Login", class: 'btn' %>
  </div>

</fieldset>
<% end %>
