<%= form_for(@user, :html => {class: 'bs-docs-example user form-horizontal'}) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name ,:class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, size: 40, placeholder: 'Enter you are name' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :password ,:class => 'control-label' %>
    <div class="controls">
      <%= f.password_field :password, size: 40 %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :password_confirmation ,'Conirm', :class => 'control-label' %>
    <div class="controls">
      <%= f.password_field :password_confirmation, size: 40 %>
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <%= f.submit 'Add User', :class => 'btn' %>
    </div>
  </div>
<% end %>

