<% if notice %>
  <div class="alert fade in">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <%= notice %>
  </div>
<% end %>

<div class="page-header">
  <h1>Listing users</h1>
</div>

<div class="btn-group">
  <%= link_to new_user_path, class: 'btn btn-large btn-primary' do %>
    <i class="icon-user icon-white"></i>
  <% end %>
</div>

<p></p>

<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>

    <td>
      <div class="btn-group">
      <%= link_to user, class: 'btn' do%><i class="icon-eye-open"></i><%end%>
      <%= link_to edit_user_path(user), class: 'btn' do%><i class="icon-edit"></i><%end%>
      <%= link_to user, class: 'btn',method: :delete, data: { confirm: 'Are you sure?'} do%>
        <i class="icon-remove"></i>
      <%end%>
      </div>
    </td>
  </tr>
<% end %>

</table>