<%= form_for(@order, :html => {class: 'bs-docs-example order form-horizontal'}) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= raw t('errors.template.header', count: @order.errors.count, model: t('activerecord.models.order')) %></h2>
      <p><%= t('.errors.template.body') %></p>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name ,t('.name'), :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, size: 40, placeholder: t('.name_placeholder') %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :address , t('.address'), :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :address, rows: 3, placeholder: t('.address_placeholder') %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :email , t('.email'), :class => 'control-label' %>
    <div class="controls">
      <%= f.email_field :email, size: 40, placeholder: 'email@example.com' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :pay_type , t('.pay_type'), :class => 'control-label' %>
    <div class="controls">
      <%= f.select :pay_type, Order::PAYMENT_TYPES, prompt: t('.pay_prompt') %>
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <%= f.submit t('.submit'), :class => 'btn' %>
    </div>
  </div>
<% end %>
