<div class="page-header">
  <h1>Listing orders</h1>
</div>

<div class="btn-group">
  <%= link_to new_order_path, class: 'btn btn-large btn-primary' do %>
    <i class="icon-pencil icon-white"></i>
  <% end %>
</div>
<p></p>

<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Email</th>
    <th>Pay type</th>
    <th></th>
  </tr>

<% @orders.each do |order| %>
  <tr>
    <td><%= order.name %></td>
    <td><%= order.address %></td>
    <td><%= order.email %></td>
    <td><%= order.pay_type %></td>
    <td>
      <div class="btn-group">
        <%= link_to 'Show', order, class: 'btn'%>
        <%= link_to 'Edit', edit_order_path(order), class: 'btn' %>
        <%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn' %>
      </div>
    </td>
  </tr>
<% end %>
</table>
<div class="text-center">
<%= will_paginate @orders, :renderer => BootstrapPagination::Rails %>
</div>

