<li>
  <span class="label label-success"><%= t('.title') %></span>
</li>
  <%= render(cart.line_items) %>
<li>
  <p class="text-right margin-right">
    <strong>Total</strong> <%= number_to_currency(cart.total_price) %>
  </p>
</li>

<li>

  <div class="btn-group">
  <%= link_to new_order_path, method: :get, class: 'btn' do %>
    <i class="icon-check"></i>
  <%end%>

  <%= link_to cart, method: :delete , confirm: t('.del_msg'), class: 'btn' do %>
    <i class="icon-trash"></i>
  <%end %>
  </div>

</li>