.text-right{
  text-align: right !important; 
}
.text-center{
  text-align: center !important; 
}

.text-right.margin-right{
  margin-right: 20px;
}

.ua-cart{
  padding-top: 20px !important; 
  padding-bottom: 20px !important; 
  right: 150px;
}

.locale{
  margin: 0;
  select{
    margin-top: 5px;
    margin-bottom: 0;
  }
}