<div class="page-header">
  <h1>Listing products</h1>
</div>

<div class="btn-group">
  <%= link_to new_product_path, class: 'btn btn-large btn-primary' do %>
    <i class="icon-pencil icon-white"></i>
  <% end %>
</div>
<p></p>

<table class="table table-striped">

<% @products.each do |product| %>
  <tr>
    <td><%= image_tag(product.image_url, class: 'img-polaroid') %></td>
    <td>
      <dl>
        <dt><%= product.title %></dt>
        <dd><%= truncate(strip_tags(product.description), length: 80) %></dd>
      </dl>
    </td>

    <td>
      <div class="btn-group">
      <%= link_to product, class: 'btn' do%><i class="icon-eye-open"></i><%end%>
      <%= link_to edit_product_path(product), class: 'btn' do%><i class="icon-edit"></i><%end%>
      <%= link_to product, class: 'btn',method: :delete, data: { confirm: 'Are you sure?'} do%>
        <i class="icon-remove"></i>
      <%end%>
      </div>
    </td>
  </tr>
<% end %>

</table>