
<% if line_item == @current_item %>
<li id="current_item">
<% else %>
<li>
<% end %>
  <dl>
    <dt><%= line_item.quantity %> &times; <%= line_item.product.title  %></dt>
    <p></p>
    <dd class="text-right">
      <code>
      <%= number_to_currency(line_item.total_price) %>
      </code>
    </dd>
  </dl>
</li>