$('div.alert').hide();

if ( $('.ua-cart > li').length > 0 ) {
  $('.ua-cart').show('blind', 1000);
}
$('.ua-cart').html("<%= j render @cart %>");
$('#current_item').css({'background-color':'#88ff88'}).animate({'background-color':'#fff'}, 1000);