<% if notice %>
  <div class="alert fade in">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <%= notice %>
  </div>
<% end %>

<p></p>

  <h1><%= t('.title') %></h1>


<table class="table table-striped">

<% @products.each do |product| %>
  <tr>
    <td><%= image_tag(product.image_url, class: 'img-polaroid') %></td>
    <td>
      <dl>
        <dt><%= product.title %></dt>
        <dd><%= sanitize(product.description) %></dd>
        <dd>
          <p>
            <code><%= number_to_currency(product.price) %></code>
            <%= link_to line_items_path(product_id:product), method: :post, remote: true, class: 'btn btn-mini' do %>
                <i class="icon-shopping-cart"></i>
            <% end %>
          </p>
        </dd>
      </dl>
    </td>
  </tr>
<% end %>

</table>